<section class="cv inner">
	<h2>Experience</h2>
	<section class="job">
		<h3><a href="http://www.slader.com/" target="_blank">Slader</a></h3>
		<p class="job-title">Web Developer, December 2014 - Present:</p>
		<p>Slader is an education startup focusing on user generated homework solutions and tutoring. My duties invloved re-developing the entire front-end with Sass, Jquery, Underscore and creating a bespoke UI library for the Slader brand.</p>
	</section>

	<section class="job">
		<h3><a href="http://www.kettlenyc.com" target="_blank">Kettle</a></h3>
		<p class="job-title">Freelance Front End Developer, September 2014 - November 2014:</p>
		<p>In the space of 3 months I worked on a few digital campaigns for Kettle’s impressive client base including: M.A.C. Cosemetics, Sierra Mist and AMC networks.</p>
	</section>

	<section class="job">
		<h3><a href="http://www.mry.com" target="_blank">MRY</a></h3>
		<p class="job-title">Interactive Developer, January 2013 - August 2014</p>
		<p>MRY is a digital agency owned by the second biggest advertising company in the world, Publicis Groupe. It was formerly known as LBi which split into MRY and Digitas LBi. Given the global client base MRY had from the merger, I had the privelege of working on various digital campaigns, website builds and applications for the following brands: Johnson &amp; Johnson, Tylenol, Neutrogena, Jägermeister, Listerine, Blackberry, Visa, BNY Mellon, Reckitt Benckiser, Adobe and National Grid.</p>
	</section>

	<section class="job">
		<h3>Open Hospitality</h3>
		<p class="job-title"> Jr. Web developer, October 2011 - January 2013</p>
		<p>Specialized in creating the websites and booking engines for botique hotels.</p>
	</section>

	<section class="skills">
		<h2>Skills</h2>
		<p>HTML5, CSS, Sass, Less, Javascript, Ruby, Ruby on Rails, PostgreSQL, Node.js, jQuery, Coffeescript, Gulp, Grunt, Backbone.js, Underscore.js, Angular.js, Git, NPM (NPM Scripts), SVN, Jasmine, Mocha, Twitter Bootstrap, PHP (Wordpress, Symfony, Drupal), Vagrant, MongoDB, MySQL, Redis, Responsive web design and development, Photoshop, SEO best practices and User experience design.</p>
	</section>
</section>