<section class="work-index">
	<% page_data.each do |work| %>
		<section class="work imghvr-flip-diag-1">
			<a href="/work/<%= work["name"] %>" class=""><img src="<%= work['default_img'] %>" /></a>
			<figcaption>
				<%= work["name"] %>
			</figcaption>
		</section>
	<% end %>
</section>