<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Danny Mickleburgh</title>
    <meta name="description" content="Web Development &amp; Design by Danny Mickleburgh">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700italic' rel='stylesheet' type='text/css'>
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <section class="container">
        <header>
          <section class="container">
            <h1><a href="/">DM</a></h1>
            <nav>
              <a href="/cv">CV</a>
              <a href="mailto:dannymickleburgh@gmail.com">contact</a>
            </nav>
          </section>
        </header>
        <section class="container">
          <!-- <p>Web design and development</p> -->
        </section>
        <p>A seasoned web developer with 5 years of professional web development experience working at startups and agencies in the bustling New York City.</p>
        <%= yield %>
        <footer> </footer>
    </section>
  </body>
</html>