<section class="container project__showcase">
	<img src="/<%= project["default_img"] %>" alt="">
	<section class="showcase__blurb">
		<h3>project</h3>
		<p><%= project["name"] %></p>
		<p><%= project["blurb"] %></p>
	</section>
	<% if project['feature'] != "" %>
	<img src="/<%= project['feature'] %>" alt="">
	<% end %>
</section>