/* 
Mixins
 */
/* 
Functions
 */
@font-face {
  font-family: BebasNeue;
  src: url("BebasNeue.otf") format("opentype"); }

@font-face {
  font-family: BebasNeueBold;
  src: url("BebasNeueBold.otf") format("opentype"); }

@font-face {
  font-family: BebasNeueBook;
  src: url("BebasNeueBook.otf") format("opentype"); }

@font-face {
  font-family: BebasNeueThin;
  src: url("BebasNeueThin.otf") format("opentype"); }

@font-face {
  font-family: BebasNeueLight;
  src: url("BebasNeueLight.otf") format("opentype"); }

/* z-index scale */
/* z-index implementations */
body {
  background-color: #FFF;
  font-family: BebasNeue, 'Helvetica Neue', 'sans-serif';
  text-rendering: optimizelegibility; }

.container {
  margin: 0 auto;
  width: 73.125rem; }

.inner {
  margin: 0 auto;
  width: 36.5625rem; }

.cv {
  margin-top: 7.875rem;
  z-index: 3;
  position: relative; }

h2 span,
.cv p {
  font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';
  line-height: 1.5;
  font-size: 1rem; }

.job {
  margin-bottom: 60px; }

a:not(.work) {
  color: #222;
  position: relative;
  text-decoration: none; }
  a:not(.work):after {
    background-color: #222;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin-top: 2px;
    position: absolute;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
    width: 100%; }
  a:not(.work):hover:after {
    transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
    transform: scaleX(1); }

header {
  clear: both;
  height: 7.875rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }
  header h1 {
    font-family: BebasNeueBold, 'Helvetica Neue', 'sans-serif';
    float: left;
    font-size: 3.5em;
    margin: 2.1875rem 0; }
  header nav {
    float: right; }
    header nav a {
      color: #222;
      display: inline-block;
      font-family: BebasNeueBold, 'Helvetica Neue', 'sans-serif';
      font-size: 2rem;
      margin: 2.9375rem 1.875rem 0 0;
      position: relative;
      text-decoration: none; }
      header nav a:after {
        background-color: #222;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        margin-top: 2px;
        position: absolute;
        transform-origin: 0 0;
        transform: scaleX(0);
        transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
        width: 100%; }
      header nav a:hover:after {
        transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
        transform: scaleX(1); }
      header nav a:last-of-type {
        margin-right: 0; }

header, nav, .work-index {
  margin-bottom: 1.875rem; }

.work-index {
  margin-top: 7.875rem; }

.work {
  float: left;
  background-color: #DDD;
  width: 570px;
  height: 380px;
  margin-left: 0;
  margin-right: 1.875rem;
  position: relative;
  margin-bottom: 1.875rem; }
  .work p {
    position: absolute; }
  .work img {
    width: 100%;
    height: auto; }
  .work:nth-child(even) {
    margin-right: 0; }
  @media screen and (max-width: 435px) {
    .work {
      margin-left: 1.875rem; } }
