/* Fonts */
@font-face {
  font-family: BebasNeue;
  src: url("BebasNeue.otf") format("opentype"); }

@font-face {
  font-family: BebasNeueBold;
  src: url("BebasNeueBold.otf") format("opentype"); }

@font-face {
  font-family: BebasNeueBook;
  src: url("BebasNeueBook.otf") format("opentype"); }

@font-face {
  font-family: BebasNeueThin;
  src: url("BebasNeueThin.otf") format("opentype"); }

@font-face {
  font-family: BebasNeueLight;
  src: url("BebasNeueLight.otf") format("opentype"); }

/* Colors */
/* Units */
/* Transitions */
/* z-index scale */
/* z-index implementations */
/* Mixins & Functions */
/* Mixins */
/* Functions */
/* Normalize.css, resets, box-sizing */
/* Unclassed HTML elements */
body {
  background-color: #FFFFFF;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 200; }

a {
  color: #222222;
  text-decoration: none; }

h3 {
  font-family: BebasNeueBold, 'Helvetica Neue', 'sans-serif';
  margin: 0; }

p {
  line-height: 1.3rem;
  margin: 0; }

/* Design patterns */
.container {
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 48em) {
    .container {
      width: 43.125rem; } }
  @media screen and (min-width: 64em) {
    .container {
      width: 60.625rem; } }
  @media screen and (min-width: 70em) {
    .container {
      width: 73.125rem; } }

.inner {
  margin: 0 auto;
  width: 36.5625rem; }

header {
  background: -moz-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.9) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, rgba(255, 255, 255, 0.9) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0.9) 100%);
  border-bottom: 1px solid #000;
  clear: both;
  height: 4rem;
  left: 0;
  padding: 0 0.625rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1; }
  header h1 {
    font-family: BebasNeueBold, 'Helvetica Neue', 'sans-serif';
    float: left;
    font-size: 3.5em;
    height: 42px;
    margin-top: 10px; }
  header nav {
    float: right; }
    header nav a {
      display: inline-block;
      font-family: BebasNeueBold, 'Helvetica Neue', 'sans-serif';
      font-size: 2rem;
      position: relative;
      margin: 1.25rem 30px 0 0; }
      header nav a:after {
        background-color: #222222;
        bottom: 0;
        content: "";
        height: 2px;
        left: 0;
        margin-top: 2px;
        position: absolute;
        transform-origin: 0 0;
        transform: scaleX(0);
        transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
        width: 100%; }
      header nav a:hover:after {
        transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
        transform: scaleX(1); }
      header nav a:last-of-type {
        margin-right: 0; }
  @media screen and (min-width: 48em) {
    header {
      height: 100px;
      padding: 0; }
      header h1 {
        height: 42px;
        margin-top: 26px; }
      header nav a {
        margin: 2.5rem 30px 0 0; } }

.work {
  margin-bottom: 12px;
  width: 100%;
  margin-left: 0; }
  .work img {
    width: 100%; }
  .work figcaption {
    display: none; }
  @media screen and (min-width: 48em) {
    .work {
      float: left;
      background-color: #DDD;
      width: 570px;
      height: 380px;
      overflow: hidden;
      margin-left: 0;
      margin-right: 30px;
      position: relative;
      margin-bottom: 30px; }
      .work p {
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 30px;
        color: white;
        font-family: BebasNeueBold; }
      .work img {
        width: 100%;
        height: auto; }
      .work:nth-child(even) {
        margin-right: 0; } }

.project__showcase img {
  display: block;
  float: none;
  margin-bottom: 30px;
  margin-right: 68px;
  width: 100%; }
  @media screen and (min-width: 64em) {
    .project__showcase img {
      float: left;
      width: 500px; } }
  @media screen and (min-width: 70em) {
    .project__showcase img {
      width: 660px; } }

.project__showcase .showcase__blurb {
  float: none;
  margin: 30px auto;
  padding: 0 6px; }
  @media screen and (min-width: 64em) {
    .project__showcase .showcase__blurb {
      float: left;
      width: 430px; } }
  @media screen and (min-width: 70em) {
    .project__showcase .showcase__blurb {
      margin-top: 0; } }

.project__showcase .showcase__anchor {
  background-color: #FFFFFF;
  border: 2px solid #222222;
  color: #222222;
  display: block;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  transition: background-color 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  width: 50%; }
  .project__showcase .showcase__anchor:hover {
    transition: background-color 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
    transition: color 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
    background-color: #222222;
    color: #FFFFFF; }

.project__showcase h3 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase; }

.cv {
  margin: 100px auto;
  position: relative; }
  .cv.inner {
    width: 298px; }
    @media screen and (min-width: 48em) {
      .cv.inner {
        width: 36.5625rem; } }
  .cv h2, .cv h3 {
    font-family: BebasNeue;
    text-rendering: optimizelegibility; }
  .cv h2 {
    letter-spacing: 0.025rem; }
  .cv h3 {
    letter-spacing: 0.05rem; }

h2 span,
.cv p {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 1rem; }

.job {
  margin-bottom: 60px; }

.cv a:not(.work) {
  color: #222222;
  position: relative;
  text-decoration: none; }
  .cv a:not(.work):after {
    background-color: #222222;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin-top: 2px;
    position: absolute;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
    width: 100%; }
  .cv a:not(.work):hover:after {
    transition: 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
    transform: scaleX(1); }

/* Helpers & Overrides */
.fade-out {
  opacity: 0;
  -webkit-transition: opacity 1s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: opacity 1s cubic-bezier(0.52, 0.01, 0.16, 1); }

.fade-in {
  opacity: 1;
  -webkit-transition: opacity 1s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: opacity 1s cubic-bezier(0.52, 0.01, 0.16, 1); }

.hide {
  visibility: hidden;
  opacity: 0; }

.work-index,
.project__showcase,
.cv {
  margin-top: 8.125rem; }

nav, .work-index {
  margin-bottom: 30px; }
