@font-face {
 	font-family: BebasNeue;
 	src: url("BebasNeue.otf") format("opentype");
}

@font-face {
 	font-family: BebasNeueBold;
 	src: url("BebasNeueBold.otf") format("opentype");
}

@font-face {
 	font-family: BebasNeueBook;
 	src: url("BebasNeueBook.otf") format("opentype");
}

@font-face {
 	font-family: BebasNeueThin;
 	src: url("BebasNeueThin.otf") format("opentype");
}

@font-face {
 	font-family: BebasNeueLight;
 	src: url("BebasNeueLight.otf") format("opentype");
}