/* Helpers & Overrides */

.fade-out {
	opacity: 0;
	-webkit-transition: opacity 1s cubic-bezier(.52,.01,.16,1);
	transition: opacity 1s cubic-bezier(.52,.01,.16,1);
}

.fade-in {
	opacity: 1;
	-webkit-transition: opacity 1s cubic-bezier(.52,.01,.16,1);
	transition: opacity 1s cubic-bezier(.52,.01,.16,1);
}

.hide {
	visibility: hidden;
	opacity: 0;
}

.work-index, 
.project__showcase,
.cv {
	margin-top: rem(130);
}

nav, .work-index {
	margin-bottom: $gutter;
}