/* Mixins & Functions */

/* Mixins */
 @mixin opensans ($weight, $style, $size) {
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: $weight;
   font-style: $style;
   font-size: $size;
   font-stretch: normal;
 }

 @mixin bebas ($weight, $style, $size) {
   font-family: BebasNeue;
   text-rendering: optimizelegibility;
   font-weight: $weight;
   font-style: $style;
   font-size: $size;
   font-stretch: normal;
 }

@mixin tracking($psvalue) {
  letter-spacing: $psvalue / 1000 + rem;
}

@mixin breakpoint($em) {
  @media screen and (min-width: $em) {
    @content;
  }
}

/* Functions */
@function rem($size) {
  $remSize: $size / 16;
  @return #{$remSize}rem;
}