/* Helpers & Overrides */

.fade-out {
	opacity: 0;
	-webkit-transition: opacity 1s cubic-bezier(.52,.01,.16,1);
	transition: opacity 1s cubic-bezier(.52,.01,.16,1);
}

.fade-in {
	opacity: 1;
	-webkit-transition: opacity 1s cubic-bezier(.52,.01,.16,1);
	transition: opacity 1s cubic-bezier(.52,.01,.16,1);
}

.hide {
	visibility: hidden;
	opacity: 0;
}


.work-index, .showcase {
	margin-top: rem(130);
}

.cv {
	margin-top: $navHeight;
	z-index: 0;
	position: relative;

	@include breakpoint(48em) {
		z-index: $CV--zIndex;
	}

	&.inner {
		width: 298px;

		@include breakpoint(48em) {
			width: rem(585);
		}
	}

	h2, h3 {
		font-family: BebasNeue;
		text-rendering: optimizelegibility;
	}

	h2 {
		@include tracking(25);
	}

	h3 {
		@include tracking(50);
		a {
			// @include tracking(50);
		}
	}
}

h2 span,
.cv p {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.5;
	font-size: rem(16);
}

.job {
	margin-bottom: 60px;
}

.cv a:not(.work) {
	color: $black;
	position: relative;
	text-decoration: none;

	&:after {
		background-color: $black;
		bottom: 0;
		content: "";
		height: 2px;
		left: 0;
		margin-top: 2px;
		position: absolute;
		transform-origin: 0 0;
		transform: scaleX(0);
		transition: $standard_transition;
		width: 100%;
	}

	&:hover {
		&:after {
			transition: $standard_transition;
			transform: scaleX(1);
		}
	}
}

nav, .work-index {
	margin-bottom: $gutter;
}

.work {
	// max-height: 220px;
	margin-bottom: 12px;
	width: 100%;
	margin-left: 0;

	img {
		width: 100%;
	}

	figcaption {
		display: none;
	}

	// @media screen and (max-width: 435px) {
	// 	margin-left: $gutter;
	// }

	/* @include breakpoint(23.4375em) {
		max-height: 260px;
	}

	@include breakpoint(25.6875em) {
		max-height: 304px;
	} */

	@include breakpoint(48em) {
		float: left;
		background-color: #DDD;
		width: 570px;
		height: 380px;
		overflow: hidden;
		margin-left: 0;
		margin-right: $gutter;
		position: relative;
		margin-bottom: $gutter;

		p {
			position: absolute;
			z-index: 100;
			bottom: 0;
			left: 30px;
			color: white;
			font-family: BebasNeueBold;
		}

		img {
			width: 100%;
			height: auto;
		}

		&:nth-child(even) {
			margin-right: 0;
		}
	}
}

.showcase {
	img {
		display: block;
		width: 100%;
	}

	.showcase--copy {
		padding: 0 6px;
	}

	h3 {
		font-weight: 700;
	}
}