@import 'lib';
@import 'vars';
@import 'fonts';
@import 'zindex';

body {
	background-color: $white;
	font-family: BebasNeue, 'Helvetica Neue', 'sans-serif';
	text-rendering: optimizelegibility;
}

.container {
	margin: 0 auto;
	width: rem(1170);
}

.inner {
	margin: 0 auto;
	width: rem(585);
}

.cv {
	margin-top: $navHeight;
	z-index: $CV--zIndex;
	position: relative;
}

h2 span,
.cv p {
	font-family: 'Open Sans', 'Helvetica Neue', 'sans-serif';
	line-height: 1.5;
	font-size: rem(16);
}

.job {
	margin-bottom: 60px;
}

a:not(.work) {
	color: $black;
	position: relative;
	text-decoration: none;

	&:after {
		background-color: $black;
		bottom: 0;
		content: "";
		height: 2px;
		left: 0;
		margin-top: 2px;
		position: absolute;
		transform-origin: 0 0;
		transform: scaleX(0);
		transition: $standard_transition;
		width: 100%;
	}

	&:hover {
		&:after {
			transition: $standard_transition;
			transform: scaleX(1);
		}
	}
}

header {
	clear: both;
	height: $navHeight;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: $GLOBAL_HEADER--zIndex;
	
	h1 {
		font-family: BebasNeueBold, 'Helvetica Neue', 'sans-serif';
		float: left;
		font-size: 3.5em;
		margin: rem(35) 0;
	}

	nav {
		float: right;

		a {
			color: $black;
			display: inline-block;
			font-family: BebasNeueBold, 'Helvetica Neue', 'sans-serif';
			font-size: 2rem;
			margin: rem(47) $gutter 0 0;
			position: relative;
			text-decoration: none;

			&:after {
				background-color: $black;
				bottom: 0;
				content: "";
				height: 2px;
				left: 0;
				margin-top: 2px;
				position: absolute;
				transform-origin: 0 0;
				transform: scaleX(0);
				transition: $standard_transition;
				width: 100%;
			}

			&:hover {
				&:after {
					transition: $standard_transition;
					transform: scaleX(1);
				}
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}

header, nav, .work-index {
	margin-bottom: $gutter;
}

.work-index {
	margin-top: rem(126);
}

.work {
	float: left;
	background-color: #DDD;
	width: 570px;
	height: 380px;
	margin-left: 0;
	margin-right: $gutter;
	position: relative;
	margin-bottom: $gutter;

	p {
		position: absolute;
	}

	img {
		width: 100%;
		height: auto;
	}

	&:nth-child(even) {
		margin-right: 0;
	}

	@media screen and (max-width: 435px) {
		margin-left: $gutter;
	}
}